In [3]:
import pandas as pd
import numpy as np

In [4]:
zuhaili_data = pd.read_excel(r"C:\Users\Zuhaili\Desktop\OJ.xlsx")

In [6]:
zuhaili_data.head(100)

,Purchase,WeekofPurchase,StoreID,PriceCH,PriceMM,DiscCH,DiscMM,SpecialCH,SpecialMM,LoyalCH,SalePriceMM,SalePriceCH,PriceDiff
0,CH,237,1,1.75,1.99,0.00,0.0,0,0,0.500000,1.99,1.75,0.24
1,CH,239,1,1.75,1.99,0.00,0.3,0,1,0.600000,1.69,1.75,-0.06
2,CH,245,1,1.86,2.09,0.17,0.0,0,0,0.680000,2.09,1.69,0.40
3,MM,227,1,1.69,1.69,0.00,0.0,0,0,0.400000,1.69,1.69,0.00
4,CH,228,7,1.69,1.69,0.00,0.0,0,0,0.956535,1.69,1.69,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,CH,277,2,1.99,2.18,0.00,0.0,0,0,0.600000,2.18,1.99,0.19
96,CH,277,7,1.99,2.13,0.50,0.0,0,1,0.400000,2.13,1.49,0.64
97,CH,227,2,1.69,1.69,0.00,0.0,0,0,0.744000,1.69,1.69,0.00
98,CH,229,2,1.69,1.69,0.00,0.0,0,0,0.795200,1.69,1.69,0.00
99,CH,234,2,1.69,1.99,0.00,0.0,0,0,0.836160,1.99,1.69,0.30

In [8]:
columns= zuhaili_data.columns.tolist()

In [9]:
columns

['Purchase',
 'WeekofPurchase',
 'StoreID',
 'PriceCH',
 'PriceMM',
 'DiscCH',
 'DiscMM',
 'SpecialCH',
 'SpecialMM',
 'LoyalCH',
 'SalePriceMM',
 'SalePriceCH',
 'PriceDiff']

In [10]:
zuhaili_data[columns]

,Purchase,WeekofPurchase,StoreID,PriceCH,PriceMM,DiscCH,DiscMM,SpecialCH,SpecialMM,LoyalCH,SalePriceMM,SalePriceCH,PriceDiff
0,CH,237,1,1.75,1.99,0.00,0.00,0,0,0.500000,1.99,1.75,0.24
1,CH,239,1,1.75,1.99,0.00,0.30,0,1,0.600000,1.69,1.75,-0.06
2,CH,245,1,1.86,2.09,0.17,0.00,0,0,0.680000,2.09,1.69,0.40
3,MM,227,1,1.69,1.69,0.00,0.00,0,0,0.400000,1.69,1.69,0.00
4,CH,228,7,1.69,1.69,0.00,0.00,0,0,0.956535,1.69,1.69,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,CH,252,7,1.86,2.09,0.10,0.00,0,0,0.587822,2.09,1.76,0.33
1066,CH,256,7,1.86,2.18,0.00,0.00,0,0,0.670258,2.18,1.86,0.32
1067,MM,257,7,1.86,2.18,0.00,0.00,0,0,0.736206,2.18,1.86,0.32
1068,CH,261,7,1.86,2.13,0.00,0.24,0,0,0.588965,1.89,1.86,0.03
1069,CH,270,1,1.86,2.18,0.00,0.00,0,0,0.671172,2.18,1.86,0.32

In [11]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [13]:
X=zuhaili_data[['PriceCH','PriceMM']]

In [14]:
X

      PriceCH  PriceMM
0        1.75     1.99
1        1.75     1.99
2        1.86     2.09
3        1.69     1.69
4        1.69     1.69
...       ...      ...
1065     1.86     2.09
1066     1.86     2.18
1067     1.86     2.18
1068     1.86     2.13
1069     1.86     2.18

[1070 rows x 2 columns]

In [15]:
Y=zuhaili_data[['WeekofPurchase']]

In [16]:
Y

      WeekofPurchase
0                237
1                239
2                245
3                227
4                228
...              ...
1065             252
1066             256
1067             257
1068             261
1069             270

[1070 rows x 1 columns]

In [18]:
X= sm.add_constant(X)

C:\Users\Zuhaili\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [19]:
model=sm.OLS(Y,X).fit()

In [22]:
Prediction=model.predict(X)

In [23]:
print_model=model.summary()

In [24]:
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:         WeekofPurchase   R-squared:                       0.529
Model:                            OLS   Adj. R-squared:                  0.528
Method:                 Least Squares   F-statistic:                     599.0
Date:                Tue, 11 Feb 2020   Prob (F-statistic):          3.92e-175
Time:                        09:28:39   Log-Likelihood:                -4051.8
No. Observations:                1070   AIC:                             8110.
Df Residuals:                    1067   BIC:                             8124.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         38.5532      6.248      6.171      0.000      26.294      50.812
PriceCH       85.8154      4.071     21.078      0.000      77.827      93.804
PriceMM       26.6493      3.089      8.626      0.000      20.587      32.711
==============================================================================
Omnibus:                       44.327   Durbin-Watson:                   0.779
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.152
Skew:                          -0.195   Prob(JB):                     5.70e-06
Kurtosis:                       2.376   Cond. No.                         62.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.